*.o
*.rar
*.exe
*.obj
*.py
*.obj.d
*.log
*/CMakeCache.txt
*/cmake_install.cmake
*/CEGUI.log
*/Makefile
*/CMakeFiles/*
*.d
*.make
*.Makefile*
*.rsp
GC3/buid/CMakeCache.txt
GC3/build/CMakeFiles
GC3/build/cmake_install.cmake
Editor/build/CMakeFiles
Editor/build/cmake_install.cmake
Editor/build/CMakeCache.txt
TB_Server/build/CMakeFiles
TB_Server/build/CMakeFiles
TB_Server/build/cmake_install.cmake
Touhou_TB/build/CMakeFiles
Touhou_TB/build/CMakeCache.txt
Touhou_TB/build/cmake_install.cmake