PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE register_key_table(
    key_no INTEGER PRIMARY KEY AUTOINCREMENT,
    key_str_val CHAR(12) NOT NULL,
    key_ready INTEGER CHECK (key_ready IN (0,1)) NOT NULL
);
INSERT INTO register_key_table VALUES(1,'F98ER24S8UR3',0);
INSERT INTO register_key_table VALUES(2,'ZPZXH0DA1YOJ',0);
INSERT INTO register_key_table VALUES(3,'E8760XLSLS7E',0);
CREATE TABLE account_table (
    account_id VARCHAR(64) PRIMARY KEY,  -- Unique user identifier
    account_password VARCHAR(64) NOT NULL, 
    account_lvl INTEGER DEFAULT 0
);
INSERT INTO account_table VALUES('feint','b81e79006c48754188243d6130e5c46787e2096c0e97941bcce56490902e024a',2);
INSERT INTO account_table VALUES('belai101','cd0a600aa3f0478684667f1687e7cbfd816d93f385b4400a3ed532501a725456',0);
INSERT INTO account_table VALUES('huyen12','52bff3fcc133e3398ca69e56c66ab986df03a6ac4678fba916cfa17bc0b2633d',0);
CREATE TABLE account_stats_table (
    account_id VARCHAR(64) NOT NULL,
    mon DOUBLE DEFAULT 0,
    souls DOUBLE DEFAULT 0,
    formmations INTEGER DEFAULT 0,
    CONSTRAINT fk_account FOREIGN KEY (account_id) REFERENCES account_table(account_id) ON DELETE CASCADE
);
INSERT INTO account_stats_table VALUES('feint',500.0,250.0,4);
INSERT INTO account_stats_table VALUES('belai101',100.0,150.0,4);
INSERT INTO account_stats_table VALUES('huyen12',172.0,0.0,4);
CREATE TABLE character_base_table (
    character_id VARCHAR(128) PRIMARY KEY, 
    character_name VARCHAR(128) NOT NULL,
    stats TEXT
);
INSERT INTO character_base_table VALUES('S_Marisa','Kirisame Marisa','');
CREATE TABLE player_character_table (
    player_character_id INTEGER PRIMARY KEY AUTOINCREMENT,
    account_id          VARCHAR(64) NOT NULL,
    character_id        VARCHAR(128) NOT NULL,
    level               INTEGER DEFAULT 1,
    exp                 INTEGER DEFAULT 0,
    stat_points         INTEGER DEFAULT 0,
    str_pts             INTEGER DEFAULT 0,
    vit_pts             INTEGER DEFAULT 0,
    dex_pts             INTEGER DEFAULT 0,
    agi_pts             INTEGER DEFAULT 0,
    int_pts             INTEGER DEFAULT 0,
    wis_pts             INTEGER DEFAULT 0,
    CONSTRAINT chk_stat_budget CHECK (
        str_pts + vit_pts + dex_pts + agi_pts + int_pts + wis_pts <= stat_points
    ),
    CONSTRAINT fk_account   FOREIGN KEY (account_id)   REFERENCES account_table(account_id)      ON DELETE CASCADE,
    CONSTRAINT fk_character FOREIGN KEY (character_id) REFERENCES character_base_table(character_id) ON DELETE CASCADE
);
INSERT INTO player_character_table VALUES(9,'huyen12','S_Meiling',1,0,0,0,0,0,0,0,0);
INSERT INTO player_character_table VALUES(10,'huyen12','S_Patchouli',1,0,0,0,0,0,0,0,0);
INSERT INTO player_character_table VALUES(11,'huyen12','S_Reimu',1,0,0,0,0,0,0,0,0);
CREATE TABLE formation_table (
    formation_id INTEGER PRIMARY KEY AUTOINCREMENT,
    account_id VARCHAR(64) NOT NULL,
    formation_name VARCHAR(64) NOT NULL,
    formation_index INTEGER NOT NULL,
    CONSTRAINT uq_account_formation UNIQUE (account_id, formation_index),
    CONSTRAINT fk_account FOREIGN KEY (account_id)
        REFERENCES account_table(account_id)
        ON DELETE CASCADE
);
INSERT INTO formation_table VALUES(18,'huyen12','aweq',2);
INSERT INTO formation_table VALUES(19,'huyen13','test',2);
CREATE TABLE formation_info_table(
    account_id VARCHAR(64) NOT NULL,
    formation_index INTEGER NOT NULL,
    character_id VARCHAR(128) NOT NULL,
    slot_index TINYINT NOT NULL,
    col_pos TINYINT NOT NULL,
    row_pos TINYINT NOT NULL,
    CONSTRAINT fk_formation FOREIGN KEY (account_id, formation_index)
        REFERENCES formation_table(account_id, formation_index)
        ON DELETE CASCADE,
    CONSTRAINT fk_character FOREIGN KEY (character_id)
        REFERENCES player_character_table(character_id)
        ON DELETE CASCADE,
    CONSTRAINT uq_formation_character UNIQUE (account_id, formation_index,slot_index)
);
INSERT INTO formation_info_table VALUES('huyen13',2,'S_Meiling',1,1,2);
INSERT INTO formation_info_table VALUES('huyen13',2,'S_Reimu',2,2,3);
INSERT INTO formation_info_table VALUES('huyen12',2,'S_Meiling',1,1,2);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('register_key_table',9);
INSERT INTO sqlite_sequence VALUES('player_character_table',16);
INSERT INTO sqlite_sequence VALUES('formation_table',19);
COMMIT;
